.contact-title {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.contact-subtitle {
  color: var(--text-color-subtitles);
}

.contact-type {
  color: var(--text-color-subtitles);
}

.contact-data-container:hover .contact-data {
  color: var(--text-hover);
}

.contact-information-title,
.contact-data {
  color: var(--text-color-titles);
}

.contact-available-container {
  border: 1px solid var(--borders-color);
  background-color: var(--bg-containers);
  box-shadow: 0 0 20px 0 var(--boxes-shadow-color);
}

.contact-schedule-title {
  color: var(--text-color-base-text);
}

.contact-available {
  color: var(--text-color-base-text-secondary);
}

.contact-form-input {
  border: 1px solid var(--borders-color);
  background-color: var(--bg-containers);
  box-shadow: 0 0 20px 0 var(--boxes-shadow-color);
  color: var(--text-color-base-text);
}

.contact-form-input::placeholder {
  color: var(--text-placeholder-inputs);
}

.contact-form-input:focus {
  border-color: var(--borders-color-hover);
  outline: none;
}

.contact-form-btn {
  background: var(--bg-btns-primary);
  color: var(--text-btn-color);
}

.contact-form-btn:hover {
  box-shadow: 0 5px 10px 0 var(--boxes-shadow-color-hover-btn);
  transform: scale(1.05);
}

.contact-form-btn-disabled {
  background: var(--bg-containers);
  color: var(--text-color-base-text-secondary);
  border: 1px solid var(--borders-color);
}
