.contact-title {
  background: linear-gradient(45deg, #f55f5f, #f51624);
  background-clip: text;
}

.contact-subtitle {
  color: #a4a2a2;
}

.contact-type {
  color: #a4a2a2;
}

.contact-data-container:hover .contact-data {
  color: #ee4343;
}

.contact-information-title,
.contact-data {
  color: #f5f5f5;
}

.contact-available-container {
  border: 1px solid #750000;
  background-color: #111111;
  box-shadow: 0 0 20px 0 #330101;
}

.contact-available {
  color: #a4a2a2;
}

.contact-form-input {
  border: 1px solid #750000;
  background-color: #111111;
  box-shadow: 0 0 20px 0 #330101;
}

.contact-form-input:focus {
  border-color: #f55f5f;
  outline: none;
}

.contact-form-btn {
  background: linear-gradient(45deg, #da2f2f, #a0020d);
}

.contact-form-btn:hover {
  box-shadow: 0 5px 10px 0 rgba(255, 0, 0, 0.5);
  transform: scale(1.05);
}
