@reference "tailwindcss";

.gradient-border {
  background: var(--bg-border-hero-logo);
}

.logo-hero {
  background-color: var(--bg-containers);
}

.descriptions-hero-name {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.descriptions-hero-work {
  color: var(--text-color-subtitles);
}

.descriptions-hero-description {
  color: var(--text-color-subtitles);
}

.social-link {
  @apply rounded-full p-[0.8rem] text-2xl transition-colors duration-300 ease-in-out;
  background-color: var(--bg-containers);
  color: var(--text-color-titles);
  border: 1px solid var(--borders-color);
}

.social-link:hover {
  background-color: var(--bg-hero-anchors-hover);
  border-color: var(--borders-color-hover);
}

.next-section-hero {
  color: var(--next-section-hero-color);
}

/* Si no usara motion cuando se montan los componentes, entonces la flecha debia animarla con keyframe,
 debido a que de este modo podia mantener el componente de tipo server

.next-section-hero {
  animation: bounceArrow 2s ease-in-out infinite;
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

*/
