.fire-ball {
  background: var(--bg-particles-hero);
  animation: bounceFire linear infinite;
  /* "avisa" que el elemento cambiara pronto esas propiedades */
  will-change: transform, opacity;
}

@keyframes bounceFire {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }

  10% {
    transform: translateX(-10px) translateY(-10vh) scale(2);
    opacity: 0.8;
  }

  30% {
    transform: translateX(10px) translateY(-30vh) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-10px) translateY(-50vh) scale(2);
  }

  70% {
    transform: translateX(10px) translateY(-70vh) scale(1);
    opacity: 0.8;
  }

  90% {
    transform: translateX(-10px) translateY(-85vh) scale(2);
    opacity: 0.5;
  }

  100% {
    transform: translateY(-90vh) scale(0);
    opacity: 0;
  }
}
