.modal-backdrop {
  background-color: var(--bg-modal-backdrop);
}

.modal-container {
  background-color: var(--background);
  border: 1px solid var(--borders-color);
}

.modal-title {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.modal-description {
  color: var(--text-color-subtitles);
}

.modal-tools {
  color: var(--text-color-titles);
}

.deploy-link {
  background: var(--bg-btns-primary);
  color: var(--text-btn-color);
}

.deploy-link:hover {
  box-shadow: 0 5px 10px 0 var(--boxes-shadow-color-hover-btn);
  transform: scale(1.05);
}

.github-link {
  background-color: var(--bg-btn-github);
  border: 1px solid var(--borders-color);
  color: var(--text-btn-color);
}

.github-link:hover {
  transform: scale(1.05);
  background-color: var(--bg-hover-github-links);
}

.other-resolution-title {
  opacity: 0.35;
  color: var(--text-modal-resolution);
}

.other-resolution:hover > .other-resolution-title {
  opacity: 1;
}

.other-resolution-btn {
  color: var(--text-color-base-text);
  opacity: 0.35;
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  cursor: pointer;
}

.other-resolution-btn:hover {
  background-color: var(--bg-hero-anchors-hover);
  border-color: var(--borders-color-hover);
}

.other-resolution:hover .other-resolution-btn {
  opacity: 1;
}

.other-resolution-btn-selected {
  color: var(--text-color-base-text);
  opacity: 0.35;
  background: var(--bg-btns-primary);
  border: 1px solid var(--borders-color-hover);
}

.other-resolution:hover .other-resolution-btn-selected {
  opacity: 1;
}

.expand-btn {
  color: var(--text-color-base-text);
  opacity: 0.35;
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  cursor: pointer;
}

.expand-btn:hover {
  background-color: var(--bg-hero-anchors-hover);
  border-color: var(--borders-color-hover);
}

.carrusel:hover .expand-btn {
  opacity: 1;
}

.modal-image {
  background-color: var(--bg-modal-img);
}

.carrusel-btn-change {
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  color: var(--text-color-base-text-secondary);
  opacity: 0.35;
}

.carrusel:hover .carrusel-btn-change {
  opacity: 1;
}

.carrusel-btn-change:hover {
  border-color: var(--borders-color-hover);
}

.image-index-active {
  background: var(--bg-gradient-titles);
}

.image-index-deactivated {
  background-color: var(--bg-skill-index-deactivated);
}

.text-project-university {
  color: var(--text-color-base-text-secondary);
}
