.card-container {
  border: 1px solid var(--borders-color);
  background-color: var(--bg-containers);
  box-shadow: 0 0 20px 0 var(--boxes-shadow-color);
}

.card-container:hover {
  background-color: var(--bg-skill-container-hover);
  border-color: var(--borders-color-hover);
}

.card-title {
  color: var(--text-color-base-text);
}

.card-container:hover .card-title {
  color: var(--text-hover);
}

.card-subtitle {
  color: var(--text-color-base-text-secondary);
}

.display-webkit-box {
  display: -webkit-box;
}
.webkit-box-orient-vertical {
  -webkit-box-orient: vertical;
}
.webkit-line-clamp-3 {
  -webkit-line-clamp: 3;
}

.card-tag-tool {
  background-color: var(--bg-skill-tag-advanced);
  border: 1px solid var(--border-skill-tag-advanced);
  color: var(--text-skill-tag-advanced);
}
