.projects-title {
  color: var(--text-color-titles);
}

.projects-title > span {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.projects-subtitle {
  color: var(--text-color-subtitles);
}
