@reference "tailwindcss";

.skill-title-section {
  color: var(--text-color-titles);
}

.skill-title-section > span {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.skill-subtitle {
  color: var(--text-color-subtitles);
}

.skill-container {
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  box-shadow: 0 0 20px 0 var(--boxes-shadow-color);
}

.skill-container:hover {
  background-color: var(--bg-skill-container-hover);
  border-color: var(--borders-color-hover);
}

.skill-icon-border {
  background: var(--skill-icon-gradient);
}

.skill-icon {
  background-color: var(--bg-containers);
  color: var(--text-logo-color-secondary);
}

.skill-title {
  color: var(--text-color-titles);
}

.skill-container:hover .skill-title {
  color: var(--text-hover);
}

.skill-tech {
  color: var(--text-color-base-text-secondary);
}
