@reference "tailwindcss";

.skill-title-section {
  color: #dfdedf;
}

.skill-title-section > span {
  background: linear-gradient(45deg, #f55f5f, #f51624);
  background-clip: text;
}

.skill-subtitle {
  color: #a4a2a2;
}

.skill-container {
  background-color: #111111;
  border: 1px solid #750000;
  box-shadow: 0 0 20px 0 #330101;
}

.skill-container:hover {
  background-color: #1c1313;
  border-color: #ee4343;
}

.skill-icon-border {
  background: linear-gradient(45deg, #750000, #f51624);
}

.skill-icon {
  background-color: #111111;
  color: #ef4444;
}

.skill-title {
  color: #f5f5f5;
}

.skill-container:hover .skill-title {
  color: #ee4343;
}

.skill-tech {
  color: #a4a2a2;
}
