.skill-frameworks-title {
  color: var(--text-color-titles);
}

.skill-frameworks-title > span {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.skill-frameworks-subtitle {
  color: var(--text-color-subtitles);
}

.skill-tool-container {
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  box-shadow: 0 0 20px 0 var(--boxes-shadow-color);
}

.skill-tool-container:hover {
  background-color: var(--bg-skill-container-hover);
  border-color: var(--borders-color-hover);
}

.skill-tool-title {
  color: var(--text-logo-color-primary);
}

.skill-tool-container:hover .skill-tool-title {
  color: var(--text-hover);
}

.intermediate {
  background-color: var(--bg-skill-tag-intermediate);
  border: 1px solid var(--border-skill-tag-intermediate);
  color: var(--text-skill-tag-intermediate);
}

.advanced {
  background-color: var(--bg-skill-tag-advanced);
  border: 1px solid var(--border-skill-tag-advanced);
  color: var(--text-skill-tag-advanced);
}

.basic {
  background-color: var(--bg-skill-tag-basic);
  border: 1px solid var(--bg-skill-tag-basic);
  color: var(--text-skill-tag-basic);
}

.btn-change {
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  color: var(--text-color-base-text-secondary);
}

.btn-change:hover {
  border-color: var(--borders-color-hover);
}

.page-index-active {
  background: var(--bg-gradient-titles);
}

.page-index-deactivated {
  background-color: var(--bg-skill-index-deactivated);
}
