.footer {
  border-top: 1px solid var(--borders-color);
  background-color: var(--bg-footer);
}

.logo-footer:hover {
  background-color: var(--bg-hover-theme-btn);
}

.image-logo-footer {
  border: 2px solid var(--borders-color);
}

.logo-text-name-footer {
  color: var(--text-logo-color-primary);
}

.logo-text-work-footer {
  color: var(--text-logo-color-tertiary);
}

.message-footer {
  color: var(--text-footer-secondary);
}

.footer-subtitle {
  color: var(--text-footer-primary);
}

.section-anchors-footer {
  color: var(--text-footer-secondary);
}

.section-anchors-footer > li::after {
  background-color: var(--text-anchor-color-navbar-footer-hover);
}

.section-anchors-footer > li:hover {
  color: var(--text-anchor-color-navbar-footer-hover);
}

.social-link-footer {
  background-color: var(--bg-containers);
  color: var(--text-color-titles);
  border: 1px solid var(--borders-color);
}

.social-link-footer:hover {
  background-color: var(--bg-hero-anchors-hover);
  border-color: var(--borders-color-hover);
}

.footer-copyright {
  border-top: 1px solid var(--borders-color);
}

.footer-icon-heart {
  color: var(--text-logo-color-secondary);
}
