.navbar {
  background-color: var(--bg-color-navbar);
}

.logo {
  color: var(--text-logo-color-primary);
}

.logo > span {
  color: var(--text-logo-color-secondary);
}

.section-anchors {
  color: var(--text-anchor-color-navbar-footer);
}

.section-anchors > li::after {
  background-color: var(--text-anchor-color-navbar-footer-hover);
}

.section-anchors > li:hover {
  color: var(--text-anchor-color-navbar-footer-hover);
}

.btn-work-together > a {
  background: var(--bg-btns-primary);
  color: var(--text-btn-color);
}
