.navbar {
  background-color: var(--bg-color-navbar);
}

.logo:hover {
  background-color: var(--bg-hover-theme-btn);
}

.logo-text-name {
  color: var(--text-logo-color-primary);
}

.logo-text-work {
  color: var(--text-logo-color-tertiary);
}

.logo > span {
  color: var(--text-logo-color-secondary);
}

.section-anchors {
  color: var(--text-anchor-color-navbar-footer);
}

.section-anchors > li::after {
  background-color: var(--text-anchor-color-navbar-footer-hover);
}

.section-anchors > li:hover {
  color: var(--text-anchor-color-navbar-footer-hover);
}

.btn-work-together > a {
  background: var(--bg-btns-primary);
  color: var(--text-btn-color);
}

.btn-work-together:hover > a {
  box-shadow: 0 5px 10px 0 var(--boxes-shadow-color-hover-btn);
  transform: scale(1.05);
}

.mobile-menu {
  background-color: var(--bg-color-navbar);
  border-bottom: 1px solid var(--borders-color);
}

.btn-menu {
  color: var(--text-btn-color);
}

.btn-menu:hover {
  background-color: var(--bg-hover-theme-btn);
}

@media (width < 414) {
  .logo-text-name,
  .logo-text-work {
    display: none;
  }
}
