.navbar {
  background-color: rgba(10, 10, 10, 0.9);
}

.logo {
  color: #f5f5f5;
}

.logo > span {
  color: #ef4444;
}

.section-anchors {
  color: #c6c6c6;
}

.section-anchors > li::after {
  background-color: #ef4444;
}

.section-anchors > li:hover {
  color: #ef4444;
}

.btn-work-together > a {
  background: linear-gradient(45deg, #da2f2f, #a0020d);
}
