@import 'tailwindcss';

*:focus-visible {
  outline: 2px solid var(--outline-focus);
}

:root {
  --background: rgba(10, 10, 10);
  --foreground: #ededed;
  --outline-focus: white;

  /* ================= TEXT ================= */

  --text-logo-color-primary: #dfdedf;
  --text-logo-color-secondary: #ef4444;
  --text-logo-color-tertiary: #ef4444;
  --text-hover: #ef4444;
  --text-btn-color: #ffffff;
  --text-theme-btn-color: rgb(202, 202, 0);

  --text-color-titles: #dfdedf;
  --text-color-subtitles: #a3a3a3;
  --text-color-base-text: #dfdedf;
  --text-color-base-text-secondary: #a3a3a3;

  --text-anchor-color-navbar-footer: #c6c6c6;
  --text-anchor-color-navbar-footer-hover: #ef4444;
  --text-about-strong: #ef4444;

  --text-skill-tag-intermediate: #b45410;
  --text-skill-tag-advanced: #ef4444;
  --text-skill-tag-basic: #4a700d;

  --text-modal-resolution: #dfdedf;

  --text-placeholder-inputs: #a3a3a3;

  --text-footer-primary: #dfdedf;
  --text-footer-secondary: #c6c6c6;

  /* ================= BACKGROUNDS ================= */

  --bg-color-navbar: rgba(10, 10, 10, 0.75);
  --bg-btn-theme: #111111;

  --bg-containers: #111111;
  --bg-hover-theme-btn: #222222;
  --bg-hover-github-links: #252e3a;

  --bg-hero-anchors-hover: #ef4444;
  --next-section-hero-color: #ef4444;

  --bg-skill-container-hover: #1c1313;
  --bg-skill-tag-intermediate: #29190f;
  --bg-skill-tag-advanced: #271616;
  --bg-skill-tag-basic: #23270f;
  --bg-skill-index-deactivated: #b8b6b6;

  --bg-modal-backdrop: rgba(0, 0, 0, 0.8);
  --bg-modal-img: black;
  --bg-btn-github: #1a1a1a;

  --bg-footer: #111111;

  /* ================= BORDERS ================= */

  --borders-color: #3e1c1c;
  --borders-color-hover: #ef4444;
  --border-color-theme-btn: #3e1c1c;
  --border-color-theme-btn-hover: white;

  --border-skill-tag-intermediate: #9c490e;
  --border-skill-tag-advanced: #c73939;
  --border-skill-tag-basic: #4a700d;

  /* ================= SHADOWS ================= */

  --boxes-shadow-color: #330101;
  --boxes-shadow-color-hover-btn: rgba(255, 0, 0, 0.5);

  /* ================= GRADIENTS / EFFECTS ================= */

  --bg-btns-primary: linear-gradient(45deg, #da2f2f, #a0020d);
  --bg-border-hero-logo: linear-gradient(45deg, #da2f2f, #a0020d);
  --bg-gradient-titles: linear-gradient(45deg, #d64c4c, #cc000e);
  --bg-particles-hero: radial-gradient(
    circle,
    rgba(255, 120, 0, 0.2) 0%,
    rgba(255, 60, 0, 0.2) 40%,
    rgba(255, 0, 0, 0.2) 60%,
    transparent 80%
  );
  --skill-icon-gradient: linear-gradient(45deg, #750000, #f51624);
  --bg-modal-selected-resolution: linear-gradient(45deg, #721919, #4b0106);

  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme='light'] {
  --background: #f8f8f8;
  --foreground: #1c1c1c;
  --outline-focus: black;

  /* ================= TEXT ================= */

  --text-logo-color-primary: #ffffff;
  --text-logo-color-secondary: #ef4444;
  --text-logo-color-tertiary: #ffadad;
  --text-hover: #ef4444;
  --text-btn-color: #ffffff;
  --text-theme-btn-color: #ef4444;
  --text-color-titles: #000000;
  --text-color-subtitles: #222222;
  --text-color-base-text: #000000;
  --text-color-base-text-secondary: #222222;

  --text-anchor-color-navbar-footer: #ffffff;
  --text-anchor-color-navbar-footer-hover: #ef4444;
  --text-about-strong: #ef4444;

  --text-skill-tag-intermediate: #b45410;
  --text-skill-tag-advanced: #bb3a3a;
  --text-skill-tag-basic: #4a700d;

  --text-modal-resolution: #f8f8f8;

  --text-placeholder-inputs: #7a7a7a;

  --text-footer-primary: #ffffff;
  --text-footer-secondary: #f8f8f8;

  /* ================= BACKGROUNDS ================= */

  --bg-color-navbar: #500000;
  --bg-btn-theme: #610000;
  --bg-hover-github-links: #151b23;

  --bg-containers: #f0f0f0;
  --bg-hover-theme-btn: #360000;
  --bg-hero-anchors-hover: #e2e1e1;
  --next-section-hero-color: #500000;
  --bg-skill-container-hover: #e2e1e1;

  --bg-skill-tag-intermediate: #fdcea6;
  --bg-skill-tag-advanced: #fcaeae;
  --bg-skill-tag-basic: #e4fcbb;

  --bg-skill-index-deactivated: #cfc7c7;

  --bg-modal-backdrop: rgba(0, 0, 0, 0.75);
  --bg-modal-img: black;
  --bg-btn-github: #010409;

  --bg-footer: #500000;

  /* ================= BORDERS ================= */
  --border-color-theme-btn: #fafafa;
  --border-color-theme-btn-hover: #ef4444;
  --borders-color: #2e0000;
  --borders-color-hover: #ef4444;

  --border-skill-tag-intermediate: #c2671a;
  --border-skill-tag-advanced: #ef4444;
  --border-skill-tag-basic: #4a700d;
  /* ================= SHADOWS ================= */
  --boxes-shadow-color: #ffc5c5;
  --boxes-shadow-color-hover-btn: rgba(239, 68, 68, 0.3);

  /* ================= GRADIENTS / EFFECTS ================= */

  --bg-btns-primary: linear-gradient(45deg, #d35050, #ff0011);

  --bg-border-hero-logo: linear-gradient(45deg, #500000, #520000);
  --bg-gradient-titles: linear-gradient(45deg, #500000, #520000);

  --bg-particles-hero: radial-gradient(
    circle,
    rgb(216, 196, 178) 0%,
    rgb(245, 207, 196) 40%,
    rgb(255, 187, 187) 60%,
    transparent 80%
  );
  --skill-icon-gradient: linear-gradient(45deg, #ef4444, #b91c1c);

  --bg-modal-selected-resolution: linear-gradient(45deg, #f3b1b1, #e77777);

  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
  overflow-x: hidden;
}
