@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: rgba(10, 10, 10);
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(10, 10, 10);
    --foreground: #ededed;
    /* ================= TEXT ================= */

    --text-logo-color-primary: #f5f5f5;
    --text-logo-color-secondary: #ef4444;
    --text-hover: #ef4444;

    --text-color-titles: #dfdedf;
    --text-color-subtitles: #a3a3a3;
    --text-color-base-text: #dfdedf;
    --text-color-base-text-secondary: #a3a3a3;

    --text-anchor-color-navbar-footer: #c6c6c6;
    --text-anchor-color-navbar-footer-hover: #ef4444;
    --text-about-strong: #ef4444;

    --text-skill-tag-intermediate: #b45410;
    --text-skill-tag-advanced: #ef4444;
    --text-skill-tag-basic: #4a700d;

    /* ================= BACKGROUNDS ================= */

    --bg-color-navbar: rgba(10, 10, 10, 0.75);
    --bg-containers: #111111;

    --bg-hero-anchors-hover: #ef4444;
    --next-section-hero-color: #f51624;

    --bg-skill-container-hover: #1c1313;
    --bg-skill-tag-intermediate: #29190f;
    --bg-skill-tag-advanced: #271616;
    --bg-skill-tag-basic: #23270f;
    --bg-skill-index-deactivated: #b8b6b6;

    /* ================= BORDERS ================= */

    --borders-color: #750000;
    --borders-color-hover: #ef4444;

    --border-skill-tag-intermediate: #9c490e;
    --border-skill-tag-advanced: #c73939;
    --border-skill-tag-basic: #4a700d;

    /* ================= SHADOWS ================= */

    --boxes-shadow-color: #330101;

    /* ================= GRADIENTS / EFFECTS ================= */

    --bg-btns-primary: linear-gradient(45deg, #da2f2f, #a0020d);
    --bg-border-hero-logo: linear-gradient(45deg, #f55f5f, #f51624);
    --bg-gradient-titles: linear-gradient(45deg, #f55f5f, #f51624);
    --bg-particles-hero: radial-gradient(
      circle,
      rgba(255, 120, 0, 0.5) 0%,
      rgba(255, 60, 0, 0.2) 40%,
      rgba(255, 0, 0, 0.2) 60%,
      transparent 80%
    );
    --skill-icon-gradient: linear-gradient(45deg, #750000, #f51624);
    box-sizing: border-box;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
  overflow-x: hidden;
}
