@reference "tailwindcss";

.about-title-section {
  color: #dfdedf;
}

.about-title-section > span {
  background: linear-gradient(45deg, #f55f5f, #f51624);
  background-clip: text;
}

.about-description {
  background-color: #111111;
  border: 1px solid #750000;
  box-shadow: 0 0 150px 0 #330101;
  color: #dfdedf;
}

.about-container-data {
  @apply p-6 rounded-[20px] text-lg transition-colors duration-300 ease-in-out;
  background-color: #111111;
  box-shadow: 0 0 15px 0 #330101;
  border: 1px solid #750000;
  color: #a4a2a2;
}

.about-container-data:hover {
  border-color: #ef4444;
  color: #dfdedf;
}

.about-container-data > p > strong {
  color: #ef4444;
}
