.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.about-title-section {
  font-size: 4.5rem;
  font-weight: 600;
  color: #dfdedf;
}

.about-title-section > span {
  background: linear-gradient(45deg, #f55f5f, #f51624);
  color: transparent;
  background-clip: text;
}

.about-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.about-description {
  width: 30%;
  font-size: 1.125rem;
  background-color: #111111;
  border: 1px solid #750000;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 150px 0 #330101;
  color: #dfdedf;
  line-height: 1.5;
  text-align: justify;
}

.about-data {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.about-container-data {
  background-color: #111111;
  padding: 1.5rem;
  box-shadow: 0 0 15px 0 #330101;
  border: 1px solid #750000;
  border-radius: 20px;
  color: #a4a2a2;
  font-size: 1.125rem;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.about-container-data:hover {
  border-color: #ef4444;
  color: #dfdedf;
}

.about-container-data > p {
  display: flex;
  align-items: center;
}

.about-container-data > p > strong {
  font-weight: 500;
  margin-left: auto;
  color: #ef4444;
  font-size: 1.875rem;
}
