@reference "tailwindcss";

.about-title-section {
  color: var(--text-color-titles);
}

.about-title-section > span {
  background: var(--bg-gradient-titles);
  background-clip: text;
}

.about-description {
  background-color: var(--bg-containers);
  border: 1px solid var(--borders-color);
  box-shadow: 0 0 150px 0 var(--boxes-shadow-color);
  color: var(--text-color-base-text);
}

.about-container-data {
  @apply p-6 rounded-[20px] text-lg transition-colors duration-300 ease-in-out;
  background-color: var(--bg-containers);
  box-shadow: 0 0 15px 0 var(--boxes-shadow-color);
  border: 1px solid var(--borders-color);
  color: var(--text-color-base-text-secondary);
}

.about-container-data:hover {
  border-color: var(--borders-color-hover-about);
  color: var(--text-color-base-text);
}

.about-container-data > p > strong {
  color: var(--text-about-strong);
}
